* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 30px 144px;
    background-color: #F5F7FA;
}

header .logo {
    cursor: pointer;
}

header nav {
    display: flex;
    align-items: center;
    gap: 50px;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

header nav li {
    list-style: none;
}

header nav li a {
    text-decoration: none;
    color: #18191F;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

header .CTAs {
    display: flex;
    align-items: center;
    gap: 14px;
}

header .CTAs a {
    text-decoration: none;
    color: #4CAF4F;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

header .CTAs a:nth-child(1) {
    color: #4CAF4F;
    padding: 10px 20px;
    
}

header .CTAs a:nth-child(2) {
    color: white;
    background: #4CAF4F;
    border-radius: 6px;
    padding: 10px 20px;
}

.hero {
    width: 100%;
    background-color: #F5F7FA;
    padding: 96px 144px;
}

.hero div:nth-child(1) {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
    gap: 32px;
}

.hero div:nth-child(1) div {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.hero div:nth-child(1) div h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 64px;
    color: #4d4d4d;
}

.hero div:nth-child(1) div h1 span {
    color: #4CAF4F;
}

.hero div:nth-child(1) div p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #717171;
}

.hero div:nth-child(1) div a {
    width: 128px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: white;
    background: #4CAF4F;
    border-radius: 4px;
    padding: 14px 32px;
}

.hero div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.hero div:nth-child(2) div {
    background-color: #4CAF4F;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.hero div:nth-child(2) div:nth-child(2),
.hero div:nth-child(2) div:nth-child(3) {
    background-color: #4CAF4F;
    opacity: 30%;
}

.clients {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 70px 0;
    gap: 40px;
}

.client-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.client {
    display: flex;
    flex-direction: column;
    padding: 0 144px;
    gap: 16px;
}

.client h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: #4d4d4d;
    text-align: center;
}

.client p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #717171;
    text-align: center;
}

.client-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    width: 100%;
    height: 98px;
}

.community {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

.community-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.community h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: #4d4d4d;
    text-align: center;
}

.community p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #717171;
    text-align: center;
}

.services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 144px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px 32px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(171, 190, 209, 0.2);
    border-radius: 8px;
    width: 299px;
}

.card div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.card div:nth-child(1) h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: #4d4d4d;
    text-align: center;
}

.card div:nth-child(1) p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #717171;
    text-align: center;
}

.unlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 144px;
    background-color: #F5F7FA;
}

.unlock div:nth-child(1) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.unlock div:nth-child(1) div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 660px;
}

.unlock div:nth-child(1) div:nth-child(1) h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: #4d4d4d;
}

.unlock div:nth-child(1) div:nth-child(1) p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #717171;
}

.unlock div:nth-child(1) div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.unlock div:nth-child(1) div:nth-child(2) a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    background-color: #4CAF4F;
    padding: 14px 32px;
    border-radius: 4px;
    text-align: center;
    width: 200px;
}

.unlock div:nth-child(1) div:nth-child(2) div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.archievements {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 75px 144px;
    background-color: #F5F7FA;
}

.archievements-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.archievements h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: #4d4d4d;
}

span {
    color: #4CAF4F;
}

.archievements p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #18191F;
}

.archievements-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
    column-gap: 30px;
}

.archievements-cards div {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 255px;
}

.archievements-cards div div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.archievements-cards div img {
    width: 48px;
    height: 48px;
}

.archievements-cards div h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: #4d4d4d;
}

.archievements-cards div p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #717171;
}

.calender {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 40px 144px;
    background-color: #F5F7FA;
}

.calender-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 661px;
    gap: 32px;
}

.calender-text div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.calender-text h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: #4d4d4d;
}

.calender-text p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #717171;
}

.calender-text a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    background-color: #4CAF4F;
    padding: 14px 32px;
    border-radius: 4px;
    text-align: center;
    width: 200px;
}

.customers {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 70px 144px;
    gap : 78px;
}

.customers-info {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.customers-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.customers-text p {
    max-width: 748px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;    
    font-size: 16px;
    color: #717171;
}

.customers-name {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.customers-name h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #4CAF4F;
}

.customers-name p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #89939E;
}

.customers-icons {
    display: flex;
    align-items: center;
    gap: 32px;
}

.customers-icon {
    display: flex;
    align-items: center;
    gap: 41px;
}

.customers-icons a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #4CAF4F;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
}

.community-update {
    display: flex;
    flex-direction: column;
    gap: 45px;
    align-items: center;
    padding: 70px 0px;
    background: var(--Neutral-Silver, #F5F7FA);
}

.community-update-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.community-update-text h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: #4d4d4d;
}

.community-update-text p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #717171;
}

.community-update-cards {
    display: flex;
    flex-direction: row;
    padding: 0 144px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    gap: -96px;
    align-items: center;
}

.demo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 32px 0px;
    gap: 32px;
}

.demo h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 64px;
    color: #263238;
    text-align: center;
}

.demo a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    background-color: #4CAF4F;
    padding: 14px 32px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 8px;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 40px 144px;
    background-color: #263238;
    color: white;
    font-family: 'Inter', sans-serif;
    
}

footer div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-weight: 400;
    font-size: 14px;
}

footer div:nth-child(1) div {
    display: flex;
    gap: 16px;
}

footer div:nth-child(2),
footer div:nth-child(3) {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

footer div:nth-child(2) h3,
footer div:nth-child(3) h3 {
    font-weight: 600;
    font-size: 20px;
}

footer div:nth-child(2) ul,
footer div:nth-child(3) ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

footer div:nth-child(2) li,
footer div:nth-child(3) li {
    list-style: none;
}

footer div:nth-child(2) a,
footer div:nth-child(3) a {
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.subscribe {
    display: flex;
    flex-direction: column;
    gap: 24px;
}